* {
    margin: 0;
    padding: 0;
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    height: 80px;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}

.logo {
    padding: 0px 50px;
    font-size: 20px;
    font-weight: 900;
    white-space: nowrap;
}

.header-text-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-text {
    white-space: nowrap;
    font-size: 25px;
    font-weight: 550;
}

.content {
    padding: 50px 50px;
}

a {
    padding: 15px 0px;
    background-color: rgb(37, 37, 37);
    border: solid black 2px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: all 200ms ease-out;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
}

.button {
    display: flex;
    gap: 10px;
}

.selected {
    background-color: white;
    color: black;
}

.overflow {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 15px;
}

.info h1 {
    margin-top: 50px;
    font-weight: 600;
}

.stat {
    margin-top: 50px;
}

.stat h1 {
    font-size: 20px;
}

.title {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
}

.content {
    text-align: justify;
    padding: 0px 50px;
}

h1 {
    font-weight: 900;
}


p {
    line-height: 1.6;
    font-size: 1.1em;
    margin: 20px 0px;
    color: #555;
}

ul {
    padding-left: 20px;
    margin: 20px 0;
    font-size: 1.1em;
}

ul li {
    margin-bottom: 10px;
    list-style-type: disc;
    color: #333;
}

.highlight {
    background-color: #f0f8ff;
    padding: 5px;
    border-radius: 5px;
}

blockquote {
    background-color: #e9f7fb;
    border-left: 5px solid #0066cc;
    margin: 20px;
    padding: 10px 20px;
    font-style: italic;
    color: #555;
}

pre {
    overflow-x: scroll;
    border-radius: 5px;
    padding: 0px 20px;
    background-color: #272727;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #327aff; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #004d99;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    .button {
        flex-direction: column;
    }

    h1 {
        font-size: 20px;
    }

    .content {
        padding: 0 10px;
    }

    .overflow {
        padding: 0 20px;
    }

    .button {
        padding: 0 20px;
    }

    .info {
        text-align: center;
    }
}

.item h1 {
    margin-bottom: 20px;
}
  